@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Kumbh+Sans:wght@500&family=Montserrat:wght@200&display=swap');

:root {
    --border-color: hsl(220, 14%, 75%);  
    --background-Color: hsl(0, 0%, 100%);
    --moblie-width: 375px;  
    --desktop-width: 1440px;
    --gray-color: hsl(219, 9%, 45%);
    --orange-color: hsl(26, 100%, 55%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    background-color: var(--background-Color);
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    position: relative;
}